
@{
    ViewBag.Title = "SumOfAllFear";
}


<style>
    .red
    {
        color:red;
    }


</style>

<div class="row">
    <div class="col-lg-12 h1 text-center">The sum of all fear code challenge.</div>
</div>
<div class="row">
    <div class="col-lg-12 h4">Enter a number in each box below.</div>
</div>

<div class="row">

    <div class="col-md-1">
        <input id="number1" class="form-control clearField" type="number" />

    </div>

    <div class="col-md-1">
        <input id="number2" class="form-control clearField" type="number" />

    </div>

    <div class="col-md-1">
        <input id="number3" class="form-control clearField" type="number" />

    </div>

    <div class="col-md-1">
        <input id="number4" class="form-control clearField" type="number" />

    </div>

    <div class="col-md-1">
        <input id="number5" class="form-control clearField" type="number" />

    </div>

    <div class="col-md-1">
        <input id="number6" class="form-control clearField" type="number" />

    </div>

</div>

<div class="row">
    <div class="col-lg-12 h4">Establish a k value by entering a mumber in the box below.</div>
</div>
<div class="row">
    <div class="col-md-1"> <input id="kValue" class="form-control clearField" type="number" /> </div>
</div>

<div class="row">
    <div class="col-lg-12"><hr /></div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="btn btn-danger btn-lg" id="btnSearch">Search</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12"><hr /></div>
</div>

<div class="row">
    <div class="col-md-12 h3">
        <p id="displayResult" class="clearFBResult" style="font-size:large; "></p>
    </div>

</div>

<div class="row">
    <div class="col-md-12 ">
        <div class="btn btn-danger btn-lg" id="btnToggle">Show Code</div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div id="code">
            <pre class="brush: js">
           $("#code").hide();

        $("#btnToggle").click(() => {
            $("#code").toggle();
            if ($(this).text() == "Show Code")
            {
                $(this).text("Hide Code");

            }
            else {
                $(this).text("Show Code");
            }
        });


        $("#btnSearch").click(() => {

            //Collect values from user.
            //Warm user if no values are entered.

            if ($("#number1").val().length == 0 ||
                $("#number2").val().length == 0 ||
                $("#number3").val().length == 0 ||
                $("#number4").val().length == 0 ||
                $("#number5").val().length == 0 ||
                $("#number6").val().length == 0 ||
                $("#kValue").val().length == 0) {
                alert("Empty fiels are not allowed. Sorry!");
            }
            else
            {
       
                var numbList = [];

                //Populate array with numerical values.
                numbList.push(  Number($("#number1").val()) );
                numbList.push(  Number($("#number2").val()) );
                numbList.push(  Number($("#number3").val()) );
                numbList.push(  Number($("#number4").val()) );
                numbList.push(  Number($("#number5").val()) );
                numbList.push(  Number($("#number6").val()) );
                var kValue = Number($("#kValue").val())

               //Iterate through array using brute force method.
               for (var i = 0, foundSet = false; i < numbList.length - 1 && foundSet !=true; i++)
               {
                  for (var j = i + 1; j <= numbList.length - 1; j++)
                  {
                    if (numbList[i] + numbList[j] == kValue)
                    {
                        //Display result
                        $("#displayResult").append($.parseHTML(kValue + " was found by adding array member <span class=\"red\">" + numbList[i] + "</span> and <span class=\"red\">" + numbList[j] + "</span>"));
                        foundSet = true;
                    }
                      //Exit all loops if set is found.
                      if (foundSet) break;
                  }
               }


            }





        });
            </pre>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#code").hide();

        $("#btnToggle").click(() => {
            $("#code").toggle();
            if ($(this).text() == "Show Code")
            {
                $(this).text("Hide Code");

            }
            else {
                $(this).text("Show Code");
            }
        });


        $("#btnSearch").click(() => {

            //Collect values from user.
            //Warm user if no values are entered.

            if ($("#number1").val().length == 0 ||
                $("#number2").val().length == 0 ||
                $("#number3").val().length == 0 ||
                $("#number4").val().length == 0 ||
                $("#number5").val().length == 0 ||
                $("#number6").val().length == 0 ||
                $("#kValue").val().length == 0) {
                alert("Empty fiels are not allowed. Sorry!");
            }
            else
            {
       
                var numbList = [];

                //Populate array with numerical values.
                numbList.push(  Number($("#number1").val()) );
                numbList.push(  Number($("#number2").val()) );
                numbList.push(  Number($("#number3").val()) );
                numbList.push(  Number($("#number4").val()) );
                numbList.push(  Number($("#number5").val()) );
                numbList.push(  Number($("#number6").val()) );
                var kValue = Number($("#kValue").val())

               //Iterate through array using brute force method.
               for (var i = 0, foundSet = false; i < numbList.length - 1 && foundSet !=true; i++)
               {
                  for (var j = i + 1; j <= numbList.length - 1; j++)
                  {
                    if (numbList[i] + numbList[j] == kValue)
                    {
                        //Display result
                        $("#displayResult").append($.parseHTML(kValue + " was found by adding array member <span class=\"red\">" + numbList[i] + "</span> and <span class=\"red\">" + numbList[j] + "</span>"));
                        foundSet = true;
                    }
                      //Exit all loops if set is found.
                      if (foundSet) break;
                  }
               }


            }





        });




    </script>
}