.modal-content {
    background: linear-gradient(135deg, #a1dbff 0%,#cbebff 21%,#f0f9ff 100%);
}

.boxResult {
    border-radius: 5px;
    border: 1px solid;
}


pre 
{
   overflow:auto;
   width:100px;
}
.hide {
    display: none;
}

.show {
    display: block;
}

.blue {
    color: blue;
    font-weight: bold;
}

.green {
    color: forestgreen;
    font-weight: bold;
}

.mathResult{
    color:red;
    font-weight:bold;
    font-size:large;
}

.palResult{
    color:forestgreen;
    font-weight:bold;
    font-size:large;
}

.red {
    color: red;
    font-weight: bold;
}

#project-1
{
    background-image:url(/images/landscape-1.jpg);
    height:400px;
    background-size:110% 110%;
    background-repeat:no-repeat;
}

.title-project{
    color:white;

}

#code {
    width: 300px;
}

#project-1:hover{
    cursor:pointer;
    animation-name: portfImgAnim;
}

#project-1 {
    box-shadow: 3px 2px 15px -3px rgba(0,0,0,0.35);
    transform: scale(1);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}

@keyframes portfImgAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100%{
        transform:scale(1);
    }
}
